<aside id="sidepanel" class="@IsOpenCssClass()" @onkeydown="OnKeyDown" tabindex="@(Service.IsOpen ? "0" : "-1")" @ref="_element">
    <div class="aside-inner">
        <div class="sticky-topbar side-panel-topbar">
            <header>
                <h1>
                    @Service.Title&nbsp;<small>@Service.Subtitle</small>
                </h1>
                <div>
                    @if (Service.IsFullscreen)
                    {
                        <button type="button" @onclick="Service.ExitFullscreen" class="btn-fullscreen" title="Exit Fullscreen">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M9 9V4.5M9 9H4.5M9 9L3.75 3.75M9 15v4.5M9 15H4.5M9 15l-5.25 5.25M15 9h4.5M15 9V4.5M15 9l5.25-5.25M15 15h4.5M15 15v4.5m0-4.5l5.25 5.25" />
                            </svg>
                        </button>
                    }
                    else
                    {
                <button type="button" @onclick="Service.Fullscreen" class="btn-fullscreen" title="Enter Fullscreen">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 3.75v4.5m0-4.5h4.5m-4.5 0L9 9M3.75 20.25v-4.5m0 4.5h4.5m-4.5 0L9 15M20.25 3.75h-4.5m4.5 0v4.5m0-4.5L15 9m5.25 11.25h-4.5m4.5 0v-4.5m0 4.5L15 15" />
                    </svg>
                </button>
                    }

                <button type="button" @onclick="Service.Close" title="Close">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="3 3 18 18" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>

                </button>
                </div>
            </header>
        </div>
        @if (Service.Component is not null)
        {
            <div class="inner-component">
                <DynamicComponent Type="@Service.Component" Parameters="@Service.Parameters" />
            </div>
        }

        @if (Service.ContentToRender is not null)
        {
            <div class="inner-component">
                @Service.ContentToRender
            </div>
        }
    </div>
</aside>
@if (Service.Backdrop.HasFlag(BackdropType.Overlay) && Service.IsOpen)
{
    <div class="backdrop @(Service.Backdrop.HasFlag(BackdropType.LightDismiss) ? "dismissable" : null)" @onclick="BackDropClicked">
    </div>
}

